
    <div class="py-5">
      <h2>Usted ya Inicio Sesión</h2>
      {{#if session.email}}
      <h3>Bienvenido {{session.email}}</h3>
      <button class="btn btn-success" role="link" onclick="window.location='/'">Volver al Home</button>
      {{else}}
      <hr class="w-50" />

      <form id="form_login">
        <div class="form-group">
          <div class="form-group">
            <label>Email</label>
            <input class="form-control w-50 m-auto minuscula" name="email"/>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control w-50 m-auto" name="password" />
          </div>
        </div>
        <button class="btn btn-success mb-3">Ingresar</button>
        <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
      </form>
      {{/if}}
    </div>

    <script>

      const form = document.getElementById("form_login");
      
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);

        axios.post("/login", formData).then(respuesta =>{
            console.log(respuesta.data.token);
            localStorage.setItem("token", respuesta.data.token);
            location.href= "/datos?token="+respuesta.data.token
            swal("usuario autenticado")
        }).catch(error => {
          swal("Algo ha salido mal, vuelva a intentar")
        })
      })
    </script>